<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>طباعة العملاء</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css', _external=True) }}" rel="stylesheet">
</head>
<body>
    <p style="text-align:center; font-size: 26px; margin-bottom: 3%">{{ title }}</p>
    <div class="center-table">
      <table class="table table-bordered">
        <tbody class="text-right">
            <tr>
              <th scope="col">مجموع الدين</th>
              <th>{{ totalCredit }}</th>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="center-table">
      <table class="table table-bordered">
        <thead class="text-right">
          <tr>
            <th scope="col">رقم العميل</th>
            <th scope="col">اسم العميل</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">الرصيد الحالي</th>
          </tr>
        </thead>
        <tbody class="text-right">
          {% for client in clients %}
            <tr>
              <th scope="row">{{ client.id }}</th>
              <td>{{ client.name }}</a></td>
              <td>{{ client.phone }}</td>
              <td>{{ client.balance }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>