.row.main {
  margin-top: 8%;
}
.head-text {
  margin-top: 1%;
  margin-left: 34%;
  font-size: 50px;
}
.center-table {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 1%;
}
.col-md-2 {
  font-size: 26px;
} 
.transactionType {
  margin-left: 80%;
  font-size: 24px;
}
button {
  padding: 5%;
  margin: 0.5%;
}
