.row.main {
  margin-top: 8%;
}
.head-text {
  margin-top: 1%;
  font-size: 50px;
}
.center-table {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 1%;
}
.col-md-2 {
  font-size: 26px;
} 
.transactionTypeText {
  margin-left: 80%;
  font-size: 24px;
}
.transactionType {
  margin-right: 5%;
}
button {
  padding: 5%;
  margin: 0.5%;
}
button#print {
  margin-left: 50%;
  margin-top: 22%;
  font-size: 18px;
}
