<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>طباعة العملاء</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css', _external=True) }}" rel="stylesheet">
</head>
<body>
  <div class="row text-right">
    <div class="col" style="margin-right: 36%; font-size: 40px;">
      <p>سجل الحركات المالية</p>
    </div>
    <div class="col" style="font-size: 30px;">
      <p>المجموع: {{ total }}</p>
    </div>
  </div>
  <div class="center-table">
    <table class="table table-bordered">
      <thead class="text-right">
        <tr>
          <th scope="col">رقم الحركة</th>
          <th scope="col">رقم العميل</th>
          <th scope="col">المبلغ</th>
          <th scope="col">البيان</th>
          <th scope="col">النوع</th>
          <th scope="col">التاريخ</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for transaction in transactions %}
          <tr>
            <th scope="row">{{ transaction.id }}</th>
            <td>{{ transaction.clientId }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.descreption }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>