{% extends "layout.html" %}

{% block head %}
  <link href="/static/css/cash.css" rel="stylesheet">
  <script src="/static/js/cash.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div class="main row">
    <div class="col-md-4">
      <div class="head-text">
        <p>سـجـل الـحـركـات المالية</p>
      </div>
    </div>
    <div class="col-md-4 transactionType">
      <span class="transactionTypeText">نوع الحركة</span>
      <div class="row">
        <button class="btn btn-secondary type" value="S">بيع</button>
        <button class="btn btn-secondary type" value="B">شراء</button>
        <button class="btn btn-secondary type" value="R">سداد ذمم</button>
        <button class="btn btn-secondary type" value="E">نفقات</button>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-info" id="print">طباعة</button>
    </div>
    <div class="col-md-2">
      <div class="row">
        <p id="total">المجموع: {{ stats.total }}</p>
      </div>
      <div class="row">
        <p>الرصيد: {{ stats.balance }}</p>
      </div>
    </div>
  </div>
  <div class="center-table">
    <table class="table table-bordered">
      <thead class="text-right">
        <tr>
          <th scope="col">رقم الحركة</th>
          <th scope="col">رقم العميل</th>
          <th scope="col">اسم العميل</th>
          <th scope="col">المبلغ</th>
          <th scope="col">البيان</th>
          <th scope="col">النوع</th>
          <th scope="col">التاريخ</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for transaction in transactions %}
          <tr>
            <th scope="row">{{ transaction.id }}</th>
            <td>{{ transaction.clientId }}</td>
            <td>{{ transaction.clientName }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.descreption }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}