<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ayyoub Construction</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="/static/css/layout.css" rel="stylesheet">

    <script>
      window.onerror = e => fetch(`/onJSError/${e}?path=${String(window.location.href)}`, { method: 'GET' })
    </script>

    <script src="/static/dist/jquery.js" type="text/javascript"></script>
     
    <script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark pull-right">
      <a class="navbar-brand" href="/"><p class="headtext">الايوب لمواد البناء</p></a>
          <ul class="navbar-nav mr-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/transaction"><p class="font-weight-light"><strong>حركة بيع</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/addItems"><p class="font-weight-light"><strong> حركة شراء</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/repayDebt"><p class="font-weight-light"><strong>سداد ذمم</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/expense"><p class="font-weight-light"><strong>حركة نفقات</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/transactionLog"><p class="font-weight-light"><strong>سجل الحركات</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/clients"><p class="font-weight-light"><strong>العملاء</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/editTransactionForm"><p class="font-weight-light"><strong>تعديل حركة</strong></p></a></li>
              <li class="nav-item"><a class="nav-link" href="/inventory"><p class="font-weight-light"><strong>المستودع</strong></p></a></li>
          </ul>
          <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/logout"><p class="font-weight-light"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p></a></li>
          </ul>
    </nav>

    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <div class="container-fluid">
    {% block body %}{% endblock %}
    </div>
  </body>
</html>