{% extends "layout.html" %}

{% block head %}
  <link href="/static/css/transactionForm.css" rel="stylesheet">
  <script src="/static/js/transactionForm.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <form action="/transaction" method="post">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="transactionId">رقم الحركة</label>
        <input class="form-control" name="transactionId" id="transactionId" value={{ transactionId }} autocomplete="off" disabled autofocus type="text" />
      </div>
      <div class="form-group col-md-3">
        <label for="clientId">رقم العميل</label>
        <input class="form-control" name="clientId" id="clientId" placeholder="رقم العميل" autocomplete="off" autofocus type="text"/>
      </div>
      <div class="form-group col-md-6">
        <label for="clientName">اسم العميل</label>
        <select class="form-control" name="clientName" id="clientName">
          <option selected="selected" value="" disabled="disabled" id="stdoption1"></option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="item"> الصنف</label>
        <select class="form-control" name="item" id="item">
          <option selected="selected" value="" disabled="disabled" id="stdoption2"></option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="weight">الوزن/العدد</label>
        <input class="form-control" name="weight" id="weight" placeholder="الوزن/العدد" type="text"/>
      </div>
      <div class="form-group col-md-6">
        <label for="descreption">البيان</label>
        <input class="form-control" name="descreption" id="descreption" placeholder="تفاصيل" type="text"/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="price">السعر</label>
        <input class="form-control" name="price" id="price" placeholder="بالدينار" type="text" />
      </div>
      <div class="form-group col-md-4">
        <label for="total">المبلغ المطلوب</label>
        <input class="form-control" name="total" id="total" placeholder="000.00" type="text" value="000.00" disabled/>
      </div>
      <div class="form-group col-md-4">
        <label for="paid">المدفوع</label>
        <input class="form-control" name="paid" id="paid" placeholder="بالدينار" type="text" />
      </div>
    </div>
    <button class="btn btn-primary" id="next" type="button">حركة جديدة</button>
    <button class="btn btn-primary" id="clear" type="button">مسح</button>
  </form>
{% endblock %}
