{% extends "layout.html" %}

{% block head %}
  <link href="/static/css/inventory.css" rel="stylesheet">
  <script src="/static/js/inventory.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      <div class="head-text">
        <p>الـمـسـتـودع</p>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" id="print" value="inventory">طباعة</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary new-item" data-toggle="modal" data-target="#modal">
        اضافة صنف جديد
      </button>
    </div>
  </div>
  <div class="center-table">
    <table class="table table-bordered">
      <thead class="text-right">
        <tr>
          <th scope="col">رقم الصنف</th>
          <th scope="col">الصنف</th>
          <th scope="col">الموجودات</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for item in items %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.stock }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label">اضافة صنف</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group">
              <label for="itemId">&nbsp;رقم الصنف</label>
              <input type="text" class="form-control" id="itemId" name="itemId" value="{% if items %}{{ items[-1].id+1 }}{%else%}{{1}}{% endif %}" disabled/>
            </div>
            <div class="input-group">
              <label for="itemName">&nbsp;اسم الصنف</label>
              <input type="text" class="form-control" id="itemName" name="itemName" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
          <button type="button" class="btn btn-primary" id="add">اضافة</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}